[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "/home/dirk/.vim/bundle/nerdtree"]
	path = /home/dirk/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
