[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "/home/dirk/.vim/bundle/nerdtree"]
	path = /home/dirk/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "/home/dirk/.vim/bundle/ctrlp.vim"]
	path = /home/dirk/.vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "/home/dirk/.vim/bundle/lightline.vim"]
	path = /home/dirk/.vim/bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim
